PORT=<PORT>
db=mongodb://<DB_USER>:<DB_PASSWORD>@<CLUSTER_SHARD_00>:<PORT>,<CLUSTER_SHARD_01>:<PORT>,<CLUSTER_SHARD_02>:<PORT>/<DB_NAME>?ssl=true&replicaSet=<REPLICA_SET>&authSource=admin&appName=<APP_NAME>
JWT_SECRET='<your_jwt_secret_key>'
JWT_EXPIRE=<expiry_time>
COOKIE_EXPIRE=<expiry_time>
SMTP_HOST=smtp.gmail.com
SMPT_SERVICE=gmail
SMPT_MAIL=<your_email@gmail.com>
SMPT_PASSWORD=<your_gmail_app_password>
CLOUDINARY_NAME='<your_cloudinary_cloud_name>'
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>
STRIPE_API_KEY=<your_stripe_publishable_key>
STRIPE_SECRET_KEY=<your_stripe_secret_key>
FRONTEND_URL=http://localhost:<PORT>
